<div class="container mt-5">
  <div class="row">
    <div class="col-12">

      <h2 basicCss>Practicing Custom Directives with Renderer2</h2>
      <p basicCss>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, non optio. Quas beatae quo aliquid, error magni magnam nisi consequuntur, est optio delectus dolores architecto ipsum nemo? Cum perspiciatis, exercitationem possimus repellat eaque dolores, rem aliquam voluptas officia quasi debitis.

      </p>
      <p basicCss1>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, non optio. Quas beatae quo aliquid, error magni magnam nisi consequuntur, est optio delectus dolores architecto ipsum nemo? Cum perspiciatis, exercitationem possimus repellat eaque dolores, rem aliquam voluptas officia quasi debitis.

      </p>
      <p basicCss2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, non optio. Quas beatae quo aliquid, error magni magnam nisi consequuntur, est optio delectus dolores architecto ipsum nemo? Cum perspiciatis, exercitationem possimus repellat eaque dolores, rem aliquam voluptas officia quasi debitis.

      </p>
      <p basicCss3>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, non optio. Quas beatae quo aliquid, error magni magnam nisi consequuntur, est optio delectus dolores architecto ipsum nemo? Cum perspiciatis, exercitationem possimus repellat eaque dolores, rem aliquam voluptas officia quasi debitis.

      </p>
      <p basicCss4>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, non optio. Quas beatae quo aliquid, error magni magnam nisi consequuntur, est optio delectus dolores architecto ipsum nemo? Cum perspiciatis, exercitationem possimus repellat eaque dolores, rem aliquam voluptas officia quasi debitis.

      </p>
    </div>
  </div>
</div>